@font-face {
  font-family: 'junkga-regular';
  src: url('../../fonts/Jungka-Regular.otf') format('opentype')
}
@font-face {
  font-family: 'junkga-bold';
  src: url('../../fonts/Jungka-Bold.otf') format('opentype')
}
@font-face {
  font-family: 'junkga-thin';
  src: url('../../fonts/Jungka-Book.otf') format('opentype')
}

// colors

$light-blue: #C7D5D8;
$dark-blue: #3F4851;
$white: #FFFFFF;

// fonts

$bold: 'junkga-bold', sans-serif;
$regular: 'junkga-regular', sans-serif;
$thin: 'junkga-thin', sans-serif;

// font weight

$weight: 500;

// font size



// font style

$style: normal;

.footer {
  background-color: $dark-blue;
  color: $light-blue;
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem 2rem 8rem;
  &__container {
    align-self: flex-end;
    margin: 0 -6rem 2rem 0;
  }
  &__info {
    &__title {
      font-size: 2.5rem;
      &:after {
        content: "";
        display: block;
        background-color: $light-blue;
        width: 100%;
        height: 2px;
        margin: 0.5rem 0 0.8rem 0;
      }
    }
    &__contact {
      &:after {
        content: "";
        display: block;
        background-color: $light-blue;
        width: 100%;
        height: 2px;
        margin: 0.7rem 0 0.8rem 0;
      }
      &__number {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__phone {
          font-family: $thin;
          font-size: 1.5rem;
        }
        &__line {
          display: block;
          background-color: $light-blue;
          height: 1.5rem;
          width: 2px;
        }
        &__mail {
          font-family: $thin;
          font-size: 1.5rem;
        }
      }
    }
    &__social {
      margin-bottom: 4rem;
      &__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__insta {
          font-family: $thin;
          font-size: 1.5rem;
          text-decoration: none;
          color: $light-blue;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: $light-blue;
            transition: width 300ms ease-in-out;
          }
          &:hover:before{
            width: 100%;
          }
        }
        &__behance {
          font-family: $thin;
          font-size: 1.5rem;
          text-decoration: none;
          color: $light-blue;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            bottom: -2px;
            right: 0;
            width: 0%;
            height: 2px;
            background-color: $light-blue;
            transition: width 300ms ease-in-out;
          }
          &:hover:before{
            width: 100%;
          }
        }
      }
    }
    &__rights {
      font-family: $thin;
      text-align: center;
      font-size: 1rem;
    }
  }
}