@import 'header.scss';
@import 'mainsection.scss';
@import 'projectsection.scss';
@import 'selfportrait.scss';
@import 'footer.scss';

@font-face {
  font-family: 'junkga-regular';
  src: url('../../fonts/Jungka-Regular.otf') format('opentype')
}
@font-face {
  font-family: 'junkga-bold';
  src: url('../../fonts/Jungka-Bold.otf') format('opentype')
}
@font-face {
  font-family: 'junkga-thin';
  src: url('../../fonts/Jungka-Book.otf') format('opentype')
}

// colors

$light-blue: #C7D5D8;
$dark-blue: #3F4851;
$white: #FFFFFF;

// fonts

$bold: 'junkga-bold', sans-serif;
$regular: 'junkga-regular', sans-serif;
$thin: 'junkga-thin', sans-serif;

// font weight

$weight: 500;

// font size



// font style

$style: normal;

* {
  font-family: $regular;
  // font-weight: $weight;
  margin: 0;
  padding: 0;
}

.logo {
  width: 3rem;
  height: 3rem;
  transition: transform 1s cubic-bezier(.16,1.08,.83,1);
  &:hover {
    transform: rotate(360deg);
  }
}