@import 'header.scss';
@import 'mainsection.scss';
@import 'projectsection.scss';
@import 'selfportrait.scss';
@import 'footer.scss';
@import 'legalMentions.scss';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'junkga-regular';
  src: url('../../fonts/Jungka-Regular.otf') format('opentype')
}
@font-face {
  font-family: 'junkga-bold';
  src: url('../../fonts/Jungka-Bold.otf') format('opentype')
}
@font-face {
  font-family: 'junkga-thin';
  src: url('../../fonts/Jungka-Book.otf') format('opentype')
}
@font-face {
  font-family: 'josefin';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
}


// colors

$light-blue: #C7D5D8;
$dark-blue: #3F4851;
$white: #FFFFFF;

// fonts

$bold: 'junkga-bold', sans-serif;
$regular: 'junkga-regular', sans-serif;
$thin: 'junkga-thin', sans-serif;
$josefin : 'josefin', sans-serif;

// font weight

$weight: 500;

// font size



// font style

$style: normal;

* {
  //font-family: $regular;
  // font-weight: $weight;
  margin: 0;
  padding: 0;
}

.logo {
  width: 3rem;
  height: 3rem;
  transition: transform 1s cubic-bezier(.16,1.08,.83,1);
  &:hover {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}