@font-face {
  font-family: 'Josefin';
  src: url('../../fonts/JosefinSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond-Regular';
  src: url('../../fonts/Garamond-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot-Regular';
  src: url('../../fonts/Didot-Regular.ttf') format('truetype');
}

// fonts

$titre: 'Didot-Regular', serif;
$text: 'Garamond-Regular', serif;
$textjo: 'Josefin', sans-serif;


// colors

$light-blue: #EDF4FA;
$dark-blue: #0C1217;
$white: #FFFFFF;

// font weight

$weight: 500;

// font size



// font style

$style: normal;

.project {
  margin-top: 0;
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  font-family: $text;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 2rem 8rem 0 8rem;
  &__logo {
    align-self: flex-end;
    margin: 1rem -6rem 0 0;
  }
    &__title {
      margin-top: 1rem;
    }
    &__line {
      display: block;
      background-color: $dark-blue;
      height: 2px;
      width: 100%;
      margin: 1rem 0 1rem 0;
    }


  &__thumbnail {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin: 4rem 0 6rem 0;
    &__item {
      color: $dark-blue;
      cursor: pointer;
      .container {
        display: flex;
        justify-content: center;
        gap: 2px;
        width: 100%;
        max-height: 30rem;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        .project__thumbnail__item__medias {
          max-width: 30%;
          height: auto;
          object-fit: cover;
        }
          .iframe {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
          .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 3rem;
            color: $light-blue;
          }
      }
      &__info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0.5rem;
        &__title {
          font-size: 1rem;
          color: $dark-blue;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 0.05rem;
        }
        &__type {
          font-size: 1rem;
          color: $dark-blue;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: 0.05rem;
        }

      }
    }
  }
  }

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Modifié pour s'assurer qu'il occupe toute la hauteur de la fenêtre de visualisation */
  background-color: rgba(0, 0, 0, 1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__contain {
    width: 100%;
    max-width: 70vw; /* Ajustez selon les besoins */
    margin: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    &__video {
      width: 100%;
      height: 100%;
    }
  }
    &__photo {
      max-width: 60%; /* Utilisez max-width au lieu de width pour une meilleure flexibilité */
      max-height: 80vh; /* Limitez la hauteur maximale pour s'assurer que l'image s'adapte bien */
      object-fit: contain;
    }
  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    color: $light-blue;
    cursor: pointer;
  }

  &__infos {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    &__titles {
      font-size: 1rem;
      color: $light-blue;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05rem;
    }
    &__type {
      font-size: 1rem;
      color: $light-blue;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.05rem;
    }
    &__arrow {
      position: relative;
      width: 2rem;
      height: 2rem;
      margin: 0 2rem 0 2rem;
      color: $light-blue;
      cursor: pointer;
    }
  }
}