@font-face {
  font-family: 'Josefin';
  src: url('../../fonts/JosefinSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond-Regular';
  src: url('../../fonts/Garamond-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot-Regular';
  src: url('../../fonts/Didot-Regular.ttf') format('truetype');
}

// fonts

$titre: 'Didot-Regular', serif;
$text: 'Garamond-Regular', serif;
$textjo: 'Josefin', sans-serif;


// colors


$light-blue: #EDF4FA;
$dark-blue: #0C1217;
$white: #FFFFFF;

// font weight

$weight: 500;

// font size



// font style

$style: normal;

.selfportrait {
  font-family: $text;
  font-optical-sizing: auto;
  font-weight: 300;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  color: $light-blue;
  padding: 2rem 8rem 2rem 8rem;
  &__container {
    align-self: flex-end;
    margin: 0 -6rem 0 0;
  }
  &__title {
    margin-top: 1rem;
  }
  &__line {
    display: block;
    background-color: $light-blue;
    height: 2px;
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
  &__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
    &__me {
      width: 32%;
      font-size: 1.5rem;
      line-height: 2rem;
      text-indent: 3rem;
      text-align: left;
    }
    &__img {
      width: 30%;
      height: auto;
      object-fit: contain;
    }
    &__how {
      font-size: 1.5rem;
      line-height: 2rem;
      text-indent: 3rem;
      text-align: left;
    }
  }
  &__service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 2rem 2rem 2rem 2rem;
    &__detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      &__icon {
        margin-top: 1rem;
        width: 4rem;
        height: 4rem;
      }
      &__text {
        margin: 1rem 0 1rem 0;
        font-size: 1.5rem;
      }
    }
  }
}